<div
  class="card rounded shadow w-100 mb-3"
  style="background-color: #343a40"
  id="{{this._id}}"
>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-end">
      <p id="title-task" class="card-title fw-bold h6">{{this.title}}</p>
      <div>
        <button
          type="button"
          class="btn bi bi-pencil-square"
          aria-label="Edit"
          onclick="edit(event, this)"
          style="color: white; border: none"
        ></button>
        <button
          type="button"
          class="btn bi bi-x-lg"
          aria-label="Close"
          onclick="remove(event, this)"
          style="color: white; border: none"
        ></button>
      </div>
    </div>
    <p class="card-subtitle my-2 h6">
      <span id="deadline-task" class="badge badge-lg bg-light text-black">Due on
        {{this.deadline_date}}</span>
      <span id="type-task" class="badge bg-primary">{{type}}</span>
      <span id="priority-task" class="badge bg-danger">{{this.priority}}
        Urgency</span>
    </p>
    <p id="description-task" class="card-text my-3">{{{this.description}}}</p>
    <hr />
    <div id="deadline-task" class="card-text">Last modified on
      {{this.creation_date}}</div>
  </div>
</div>