<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
    ></script>
    <title>🌑🔭</title>
  </head>
  <body>
    <div class="bg-dark vh-100">
      <nav class="navbar navbar-expand-lg container-fluid fg">
        <div class="container mt-4">
          <span class="navbar-brand mb-0 h1 text-white">.moonwatch</span>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="container">
        <div class="d-flex justify-content-between align-items-end mb-4">
          <h1 class="mt-5 d-inline-block mb-0 fw-bold">Task Manager</h1>
          <button
            type="button"
            class="btn btn-outline-light py-2 px-4"
            onclick="display()"
          >
            Add
          </button>
        </div>
        {{#each data}}
          <div
            class="card rounded shadow w-100 mb-3"
            style="background-color: #2d3238"
            id="{{this._id}}"
          >
            <div id="card-group">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-end">
                  <h6 class="card-title fw-bold">{{this.title}}</h6>
                  <button
                    type="button"
                    class="btn-close btn-close-white"
                    aria-label="Close"
                    onclick="remove(event)"
                    id="{{this._id}}"
                  >
                  </button>
                </div>
                <h6 class="card-subtitle my-2">
                  <span class="badge bg-light text-black">Due on
                    {{this.deadline_date}}</span>
                  <span class="badge bg-danger">{{this.priority}} Urgency</span>
                  <span class="badge bg-primary">{{type}}</span>
                </h6>
                <p class="card-text my-3">{{{this.description}}}</p>
                <hr />
                <div class="card-footer text-muted">Created on
                  {{this.creation_date}}</div>
              </div>
            </div>
          </div>
        {{/each}}
      </main>
    </div>
    <script type="text/javascript" src="/js/request.js"></script>
  </body>
</html>